.chat__input{

    display: flex;
align-items: center;
height:62px;
border-top:1px solid lightgrey;
/* justify-content: space-between; */
position: fixed;;
top:90vh;
bottom:0;
background-color:#49274b;
z-index:1;
width:100%;

}

.chat__input>input{
    width:70vw;
    border-radius:30px;
    padding:10px;
    border:none;
    margin-left:2%;
    font-size:20px;
}
.chat__input>input:focus{
    outline: none;
}
input::placeholder{
   font-size:15px;
}
.btn{
    color:white;
    margin-left:-15px;
}