.SidebarOptions{
    display: flex;
    align-items: center;
    font-size:12px;
    /* margin-left:20px; */
    padding:10px;
    cursor: pointer;
    
}

.SidebarOptions:hover{
    background-color: #340e36;
    opacity:0.9;
    transition: background-color 0.2s;
}

.SidebarOptions-icon{
    padding:10px;
    font-size:15px !important;
}
.SidebarOptions-channel{
    padding:0px 3px;
}
.SidebarOptions-hastag{
    padding:10px;
}